---
import ArchivePanel from "@components/ArchivePanel.astro";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPosts } from "@utils/content-utils";
import { t } from "../../../../i18n";

const locale = "en";

export async function getStaticPaths() {
	const posts = await getSortedPosts("en");
	const allTags = posts.reduce<Set<string>>((acc, post) => {
		post.data.tags.forEach((tag) => acc.add(tag));
		return acc;
	}, new Set());

	return Array.from(allTags).map((tag) => ({
		params: { tag },
	}));
}

const tag = Astro.params.tag as string;
const pageTitle = `${tag} Articles Archive`;
const pageDescription = `Browse English posts about ${tag} on Chaosyn, including practical tutorials, project notes, troubleshooting guides, and technical experiments.`;
---

<MainGridLayout title={pageTitle} description={pageDescription} hideSidebar={true} lang={locale}>
	<h1 class="sr-only">{pageTitle}</h1>
	<ArchivePanel tags={[tag]} locale={locale}></ArchivePanel>
</MainGridLayout>
